#name{
    color: darkslategrey;
}

#title{
    color: darkslategrey;
    font-weight: bold;
}

#detail{
    white-space: pre-wrap;
}

.techSkillImg{
    height: 130px;
    width: 130px;
    margin: 20px;
}
.techSkill{
    color: gray;
    font-size: 25px;
    font-weight: bolder;

}

.profi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tools{
    height: 130px;
    width: 130px;
}